/* Format: 
Display (ie Flex), 
Position (eg Margin), 
Element Size (eg Height, Width),
Background (eg Background Image, Background Color,
Text (eg Font Size, Font Color,
Borders
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  margin: auto;
  
  width: 80vw;

  text-align: center;
}

/* Header */
.App-header {
  background-color: #141f50;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid black; 
}

/* New Task Area */
.new-task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 20vh;

  border: 1px solid red;
}

/* Task Container */
.tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5vh;

  /* border: 2px solid pink; */
}

.tasks-container h2 {
  font-size: 3em;
}

/* Tasks List */
.tasks-list {

  width: 60%;

  /* border: 1px solid green; */
}

/* Task Instances */
.task-instance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 2em;
  padding: 1em;

  /* width: 50%; */

  border: 2px solid black;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 100%;
  height: 5vh;

  background-color: #141f50;

  border: 2px solid black; 
}

footer img {
  height: 2em;
}